{
	admin off
	log {
		output file /home/linuxbrew/.linuxbrew/var/log/caddy/caddy.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}

danil.kutkevich.org {
	redir https://github.com/danil

	log {
		output file /home/linuxbrew/.linuxbrew/var/log/caddy/danil.kutkevich.org.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}

danil.kutkevich.ru {
	redir https://github.com/danil

	log {
		output file /home/linuxbrew/.linuxbrew/var/log/caddy/danil.kutkevich.ru.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}

# куткевич.рф
xn--b1afkfa1cg1b.xn--p1ai {
	redir http://kutkevich.ru{uri}

	log {
		output file /home/linuxbrew/.linuxbrew/var/log/caddy/kutkevich.rf.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}

http://, https:// {
	redir http://kutkevich.ru{uri}
}
