[Unit]
Description="Hourly mirrors public git repositories"

[Timer]
OnCalendar=0/1:00:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
