[Unit]
Description="Git mirror of the private repositories"

[Service]
Type=oneshot
User=danil
Group=danil
ExecStart=/home/danil/bin/git-private-mirror
